*_source.*
*_backup.*
*.tmp
nuitka_build/
__pycache__/
*.pyc
*.pyd
build/
dist/
*.spec
.venv/
venv/
env/
*.txt
!requirements.txt
*.log
*.json
!package.json
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
